{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('app_logout') }}">Logout</a></p>

    <table>
        <tr>
            <th>Currency</th>
            <th>Balance</th>
        </tr>
        {% if wallets|length == 0 %}
        <tr><td colspan="2">No wallets</td></tr>
        {% else %}
            {% for wallet in wallets %}
                <tr>
                    <td>{{ wallet.currency }}</td>
                    <td>{{ wallet.balance }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    {{ form(deposit_form) }}

{% endblock %}